* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #1f2631;
	color: #fff;
	font-size: 1.5rem;
	font-weight: 700;
}

.container {
	/* width: 100vw;
	height: 100vh; */
	/* height: 100vh; */
	margin-top: 5em;
	display: flex;
	/* place-items: center; */
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.square {
	background-color: #313a49;
	margin: 2em;
	border-radius: 20px;
	width: 25em;
	min-height: 15em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.getStoicQuote,
.getZenQuote {
	padding: 1em 2em;
	border-radius: 10px;
	border: none;
	background-color: #50ffaf;
	color: #1f2631;
	font-size: 1.5rem;
	font-weight: 600;
	cursor: pointer;
	transition: scale 200ms ease-out, background-color 200ms ease-out;
}

.getStoicQuote:hover,
.getZenQuote:hover {
	scale: 1.1;
	background-color: #78ffc2;
}

.stoicQuote,
.zenQuote {
	display: none;
	color: #fff;
	font-size: 1.5rem;
	font-weight: 500;
	margin: 2em 2em 0 2em;
	text-align: center;
}
